<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cloud File Storage</title>
</head>
<body>
<section>
    <header>
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </header>
</section>
<section>
    <article>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li th:each="breadcrumb : ${breadcrumbs}" th:if="${breadcrumb.link}" class="breadcrumb-item">
                        <a th:text="${breadcrumb.title}" th:href="${breadcrumb.link} ? '/?path=' + ${breadcrumb.link} : ''"></a>
                    </li>
                    <li th:each="breadcrumb : ${breadcrumbs}" th:unless="${breadcrumb.link}" th:text="${breadcrumb.title}" class="breadcrumb-item active"></li>
                </ol>
            </nav>


            <ul class="list-group m-3" th:each="file : ${files}">
                <li class="list-group-item">
                    <div class="row">
                        <div th:if="${file.isDirectory}" class="col-6" th:text="${file.name}"></div>
                        <div th:unless="${file.isDirectory}" class="col-6">
                            <a th:text="${file.name}" th:href="@{${file.name}}"></a>
                        </div>
                    </div>
                </li>
            </ul>

            <form id="uploadFileForm" method="post" th:action="@{/file}" enctype="multipart/form-data" th:object="${fileUploadRequest}">
                <div class="mb-3 w-50 border border-primary">
                    <label for="fileInput" class="form-label">Upload file</label>
                    <input class="form-control" type="file" id="fileInput" th:name="file">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
            <form id="uploadDirectoryForm" method="post" th:action="@{/directory}" enctype="multipart/form-data" th:object="${directoryUploadRequest}">
                <div class="mb-3 w-50 border border-primary">
                    <label for="directoryFilesInput" class="form-label">Upload directory</label>
                    <input class="form-control" type="file" id="directoryFilesInput" th:name="directoryFiles" webkitdirectory>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </article>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>